.container {
  color: #1a1a1a;
  max-width: 130rem;
  margin: 0 auto;
  height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #fff;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 24px;
  color: #555;
  font-size: 1.6rem;
}

.navLinks li {
  cursor: pointer;
  font-weight: 500;
}

.authButtons a {
  text-decoration: none;
  margin-left: 12px;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.6rem;
}

.login {
  background-color: #fff;
  border: 1px solid #aaa;
  color: #555;
}

.register {
  border: none;
  background: #000;
  color: white;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 130rem;
  margin: 0 auto;
  padding: 8rem 0;
  background: #f7f9fb;
  padding: 7.2rem;
}

.heroText {
  max-width: 500px;
}

.heroText h1 {
  font-size: 5.2rem;
  margin-bottom: 1.6rem;
  font-weight: 500;
}

.heroText p {
  font-size: 16px;
  color: #555;
  margin-bottom: 24px;
}

.heroButtons {
  display: flex;
  gap: 12px;
}

.primary {
  background: #000;
  color: white;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.4rem;
}

.secondary {
  background: #f7f9fb;
  color: #444;
  border: 1px solid #ccc;
  padding: 1.2rem 2.4rem;
  border-radius: 6px;
  font-size: 1.4rem;
  cursor: pointer;
}

.heroImage img {
  display: block;
  width: 100%;
  margin: auto;
  border-radius: 11px;
}

/* Features Section */
.features {
  text-align: center;
  padding: 60px 40px;
}

.features h2 {
  font-size: 3.2rem;
  margin-bottom: 8px;
  font-weight: 500;
}

.features p {
  color: #666;
  margin-bottom: 4rem;
  font-size: 1.6rem;
}

.featureCards {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 20px;
  width: 35rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
  text-align: left;
}

.card h3 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 2rem;
}

.card p {
  font-size: 1.4rem;
}

.cardIcon {
  font-size: 24px;
  margin-bottom: 12px;
}
